*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1380px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1230px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 700px;
    padding: 0 10px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

header {
  padding: 10px 0;
}

h4 {
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #555;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
}

.header-slogan {
  flex: 0 0 555px;
  color: #555;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  margin-left: 211px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 45px;
  margin-left: auto;
}
.header-contacts a {
  display: block;
  text-align: end;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}
.header-contacts a:hover {
  color: #2b91cc;
}

.banner {
  position: relative;
  padding: 120px 0;
  min-height: 594px;
  z-index: 1;
}
.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  z-index: -2;
}

.banner-content {
  max-width: 658px;
}

.banner-heading {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.36px;
  margin-bottom: 40px;
}

.banner-list {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.24px;
  margin-bottom: 40px;
}
.banner-list li {
  position: relative;
  padding-left: 36px;
}
.banner-list li::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 14px;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 100%;
}

.banner-description {
  max-width: 459px;
}
.banner-description P:not(:last-child) {
  margin-bottom: 4px;
}
.banner-description p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.16px;
}
.banner-description a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.16px;
  transition: all 0.3s ease;
}
.banner-description a:hover {
  color: #2b91cc;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 45%;
     object-position: 50% 45%;
  z-index: -3;
}

.equipment {
  padding: 120px 0 60px;
}

.equipment-list {
  display: flex;
}

.equipment-item {
  flex: 0 0 20%;
  min-height: 214px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 37px;
  border: 1px solid #ececec;
  background: #fff;
  transition: all 0.3s ease;
}
.equipment-item:hover {
  border: 1px solid #2b91cc;
  background: rgba(43, 145, 204, 0.0549019608);
}
.equipment-item__img {
  position: relative;
  width: 194px;
  height: 64px;
}
.equipment-item__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}
.equipment-item__title {
  color: #555;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}

.parts {
  padding: 60px 0;
}

.advantages {
  background: #f8f8f8;
  padding: 60px 0 30px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -28px;
}

.advantages-item {
  display: flex;
  align-items: center;
  flex: 0 0 calc(33.33% - 56px);
  margin: 0 28px 30px;
}
.advantages-item__img {
  position: relative;
  flex: 0 0 114px;
  height: 114px;
  margin-right: 27px;
}
.advantages-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.advantages-item__text {
  flex: 1 1 auto;
}
.advantages-item__title {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
}
.advantages-item__description {
  color: #666;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news {
  padding: 60px 0;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.news-item {
  flex: 0 0 calc(25% - 32px);
  margin: 0 16px;
}
.news-item__img {
  position: relative;
  width: 100%;
  height: 165px;
  overflow: hidden;
}
.news-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.news-item__content {
  border: 1px solid #ececec;
  background: #fff;
  padding: 20px 25px;
  transition: all 0.3s ease;
}
.news-item__date {
  color: #999;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 8px;
}
.news-item__intro {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.news-item:hover .news-item__content {
  border: 1px solid #2b91cc;
  background: rgba(43, 145, 204, 0.0549019608);
}
.news-item:hover .news-item__img img {
  transform: scale(1.05);
}

.quotes {
  padding: 60px 0;
}

.quotes-list {
  margin-bottom: 50px;
}

.quote:not(:last-child) {
  margin-bottom: 20px;
}

.quote-text {
  color: #555;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 19px;
}

.quote-autor {
  color: #555;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: normal;
}

.quotes-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.quotes-bottom span {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quotes-btn {
  display: block;
  padding: 10px 30px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 40px;
  background: #2b91cc;
  cursor: pointer;
  transition: all 0.3s ease;
}
.quotes-btn:hover {
  background: #1e668f;
}

footer {
  padding: 60px 0 90px;
  background: #333;
}

.footer-copyright {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1380px) {
  .header-contacts {
    margin-right: 0;
  }
  .header-slogan {
    flex: 0 0 500px;
    margin-left: 60px;
    font-size: 18px;
  }
  .equipment {
    padding: 80px 0;
  }
  .equipment-list {
    flex-wrap: wrap;
  }
  .equipment-item {
    flex: 0 0 25%;
  }
  .advantages-item {
    flex: 0 0 calc(50% - 56px);
  }
}
@media (max-width: 1200px) {
  .header-logo {
    font-size: 18px;
  }
  .equipment-item {
    flex: 0 0 33.33%;
  }
  .header-slogan {
    flex: 0 0 390px;
    font-size: 14px;
  }
  .header-contacts {
    gap: 0;
  }
  .header-contacts a {
    font-size: 14px;
  }
  .banner {
    padding: 80px 0;
    min-height: 460px;
  }
  .banner-content {
    max-width: 560px;
  }
  .banner-heading {
    font-size: 28px;
    margin-bottom: 26px;
  }
  .banner-list {
    font-size: 20px;
    margin-bottom: 26px;
  }
  .news-list {
    flex-wrap: wrap;
  }
  .news-item {
    flex: 0 0 calc(33.33% - 32px);
    margin: 0 16px 32px;
  }
}
@media (max-width: 992px) {
  .equipment-item {
    flex: 0 0 50%;
  }
  .advantages-list {
    margin: 0;
  }
  .advantages-item {
    flex: 0 0 100%;
    margin: 0 0 30px;
  }
  .parts {
    padding: 80px 0;
  }
  .advantages {
    padding: 80px 0 50px;
  }
  .news {
    padding: 80px 0 48px;
  }
  .quotes {
    padding: 80px 0;
  }
  footer {
    padding: 80px 0;
  }
  .news-item {
    flex: 0 0 calc(50% - 32px);
  }
  .news-item__img {
    height: 190px;
  }
}
@media (max-width: 768px) {
  h4 {
    margin-bottom: 20px;
  }
  .quotes h4 {
    margin-bottom: 80px;
  }
  .header-slogan {
    flex: 0 0 157px;
    font-size: 10px;
    margin-left: 10px;
  }
  .header-contacts a {
    font-size: 10px;
  }
  .banner-content {
    max-width: 330px;
  }
  .banner-heading {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .banner-list {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .banner-list li::before {
    top: 7px;
    left: 7px;
    width: 5px;
    height: 5px;
  }
  .banner-list li {
    padding-left: 24px;
  }
  .banner {
    min-height: 320px;
  }
  .banner-description p {
    font-size: 10px;
  }
  .banner-description a {
    font-size: 10px;
  }
  .news-item__img {
    height: 165px;
  }
  .news-list {
    margin: 0;
  }
  .news-item {
    flex: 0 0 314px;
    margin: 0 0 32px;
  }
  .quotes-list {
    margin-bottom: 40px;
  }
  .quote-text {
    font-size: 24px;
    margin-bottom: 19px;
  }
  .quote-autor {
    font-size: 10px;
  }
  .quotes-bottom {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .equipment-item {
    flex: 0 0 20%;
  }
}/*# sourceMappingURL=style.css.map */